<a href="https://colab.research.google.com/github/vitormendesvr/Desafio-1---Ci-ncia-de-Dados/blob/main/AluraStoreBr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importação dos dados

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [ ]:
faturamentoloja1 = loja.Preço.sum()
faturamentoloja2 = loja2.Preço.sum()
faturamentoloja3 = loja3.Preço.sum()
faturamentoloja4 = loja4.Preço.sum()

def formatar_reais(valor):
    return f'R$ {valor:,.2f}'.replace(',', 'v').replace('.', ',').replace('v', '.')

print(f'O faturamento da loja 1 é {formatar_reais(faturamentoloja1)}')
print(f'O faturamento da loja 2 é {formatar_reais(faturamentoloja2)}')
print(f'O faturamento da loja 3 é {formatar_reais(faturamentoloja3)}')
print(f'O faturamento da loja 4 é {formatar_reais(faturamentoloja4)}')

O faturamento da loja 1 é R$ 1.534.509,12
O faturamento da loja 2 é R$ 1.488.459,06
O faturamento da loja 3 é R$ 1.464.025,03
O faturamento da loja 4 é R$ 1.384.497,58

# 2. Vendas por Categoria

In [ ]:

dados_loja = loja[['Categoria do Produto', 'Produto']]
agrupado = dados_loja.groupby('Categoria do Produto').size()
print(f'A categoria mais vendida da loja 1 é: {agrupado.idxmax()}')
agrupado_ordenado = agrupado.sort_values(ascending=False)
print(f'As categorias mais vendidas da loja 1 são: {agrupado_ordenado}')

dados_loja2 = loja2[['Categoria do Produto', 'Produto']]
agrupado2 = dados_loja2.groupby('Categoria do Produto').size()
print(f'A categoria mais vendida da loja 2 é: {agrupado2.idxmax()}')
agrupado_ordenado2 = agrupado2.sort_values(ascending=False)
print(f'As categorias mais vendidas da loja 2 são: {agrupado_ordenado2}')

dados_loja3 = loja3[['Categoria do Produto', 'Produto']]
agrupado3 = dados_loja3.groupby('Categoria do Produto').size()
print(f'A categoria mais vendida da loja 3 é: {agrupado3.idxmax()}')
agrupado_ordenado3 = agrupado3.sort_values(ascending=False)
print(f'As categorias mais vendidas da loja 3 são: {agrupado_ordenado3}')

dados_loja4 = loja4[['Categoria do Produto', 'Produto']]
agrupado4 = dados_loja4.groupby('Categoria do Produto').size()
print(f'A categoria mais vendida da loja 4 é: {agrupado4.idxmax()}')
agrupado_ordenado4 = agrupado4.sort_values(ascending=False)
print(f'As categorias mais vendidas da loja 4 são: {agrupado_ordenado4}')

A categoria mais vendida da loja 1 é: moveis
As categorias mais vendidas da loja 1 são: Categoria do Produto
moveis                   465
eletronicos              448
brinquedos               324
eletrodomesticos         312
esporte e lazer          284
instrumentos musicais    182
livros                   173
utilidades domesticas    171
dtype: int64
A categoria mais vendida da loja 2 é: moveis
As categorias mais vendidas da loja 2 são: Categoria do Produto
moveis                   442
eletronicos              422
brinquedos               313
eletrodomesticos         305
esporte e lazer          275
instrumentos musicais    224
livros                   197
utilidades domesticas    181
dtype: int64
A categoria mais vendida da loja 3 é: moveis
As categorias mais vendidas da loja 3 são: Categoria do Produto
moveis                   499
eletronicos              451
brinquedos               315
eletrodomesticos         278
esporte e lazer          277
livros                   185
instrumentos musicais    177
utilidades domesticas    177
dtype: int64
A categoria mais vendida da loja 4 é: moveis
As categorias mais vendidas da loja 4 são: Categoria do Produto
moveis                   480
eletronicos              451
brinquedos               338
esporte e lazer          277
eletrodomesticos         254
utilidades domesticas    201
livros                   187
instrumentos musicais    170
dtype: int64

# 3. Média de Avaliação das Lojas

In [ ]:
soma_avaliacao = sum(loja['Avaliação da compra'])
print(f'A média de avaliação da loja 1 é {round(soma_avaliacao/len(loja), 2)}')

soma_avaliacao2 = sum(loja2['Avaliação da compra'])
print(f'A média de avaliação da loja 2 é {round(soma_avaliacao2/len(loja2), 2)}')

soma_avaliacao3 = sum(loja3['Avaliação da compra'])
print(f'A média de avaliação da loja 3 é {round(soma_avaliacao3/len(loja3),2)}')


soma_avaliacao4 = sum(loja4['Avaliação da compra'])
print(f'A média de avaliação da loja 4 é {round(soma_avaliacao4/len(loja4), 2)}')

A média de avaliação da loja 1 é 3.98
A média de avaliação da loja 2 é 4.04
A média de avaliação da loja 3 é 4.05
A média de avaliação da loja 4 é 4.0

# 4. Produtos Mais e Menos Vendidos

In [3]:
print(loja.columns)

Index(['Produto', 'Categoria do Produto', 'Preço', 'Frete', 'Data da Compra',
       'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'lat', 'lon'],
      dtype='object')

In [9]:
def produtos_destaque(df, nome_loja='Loja'):
    vendas = (
        df['Produto']
        .value_counts()
        .reset_index()
    )

    top5 = vendas.head(5)
    bottom5 = vendas.tail(5)

    print(f'\nTop 5 mais vendidos - {nome_loja}')
    print(top5)

    print(f'\nBottom 5 menos vendidos - {nome_loja}')
    print(bottom5)

produtos_destaque(loja, 'Loja 1')
produtos_destaque(loja2, 'Loja 2')
produtos_destaque(loja3, 'Loja 3')
produtos_destaque(loja4, 'Loja 4')

Top 5 mais vendidos - Loja 1
              Produto  count
0         Micro-ondas     60
1       TV Led UHD 4K     60
2       Guarda roupas     60
3  Secadora de roupas     58
4              Cômoda     56

Bottom 5 menos vendidos - Loja 1
                        Produto  count
46  Ciência de dados com python     39
47                     Pandeiro     36
48            Panela de pressão     35
49                      Headset     33
50                 Celular ABXY     33

Top 5 mais vendidos - Loja 2
                    Produto  count
0  Iniciando em programação     65
1               Micro-ondas     62
2                   Bateria     61
3                    Violão     58
4                  Pandeiro     58

Bottom 5 menos vendidos - Loja 2
              Produto  count
46     Fone de ouvido     37
47           Poltrona     35
48     Mesa de jantar     34
49         Impressora     34
50  Jogo de tabuleiro     32

Top 5 mais vendidos - Loja 3
           Produto  count
0    Kit banquetas     57
1   Mesa de jantar     56
2        Cama king     56
3  Jogo de panelas     55
4           Cômoda     55

Bottom 5 menos vendidos - Loja 3
             Produto  count
46          Guitarra     38
47     Jogo de copos     36
48           Mochila     36
49       Micro-ondas     36
50  Blocos de montar     35

Top 5 mais vendidos - Loja 4
                    Produto  count
0                  Cama box     62
1                  Faqueiro     59
2   Dashboards com Power BI     56
3                 Cama king     56
4  Carrinho controle remoto     55

Bottom 5 menos vendidos - Loja 4
                        Produto  count
46                    Geladeira     38
47  Ciência de dados com python     38
48                       Violão     37
49                Guarda roupas     34
50                     Guitarra     33

# 5. Frete Médio por Loja

In [10]:
def calcular_frete_medio(df, nome_loja='Loja'):
    media = df['Frete'].mean()
    print(f'Custo médio de frete - {nome_loja}: R$ {media:.2f}')
calcular_frete_medio(loja, 'Loja 1')
calcular_frete_medio(loja2, 'Loja 2')
calcular_frete_medio(loja3, 'Loja 3')
calcular_frete_medio(loja4, 'Loja 4')

Custo médio de frete - Loja 1: R$ 34.69
Custo médio de frete - Loja 2: R$ 33.62
Custo médio de frete - Loja 3: R$ 33.07
Custo médio de frete - Loja 4: R$ 31.28